<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  - srcc = process.env.NODE_ENV === 'production' ? 'dist/main.css' : 'http://localhost:8080/dist/main.css'
  link(rel="stylesheet", href=srcc)
  title Jonathan's website
  
body
  #App
  - src = process.env.NODE_ENV === 'production' ? 'dist/bundle.js' : 'http://localhost:8080/dist/bundle.js'
  scrip(src="/public/jquery/dist/jquery.js")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js')
  script(src=src)
  